.Chassis {
  text-align: center;
  margin: 0 auto;
  background-color: black;
  width: 380px;
  height: 500px;
  margin-top: 100px;
  border-radius: 30px;
}

.BottomText {
  padding: 20px;
  font-family: monospace;
  margin-left: 20px;
  color: #aaa;
  font-size: 15px;
  letter-spacing: 15px;
}
