.Operands {
  display: inline;
}

.Operands button {
  cursor: pointer;
  font-size: 25px;
  width: 60px;
  height: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 29px;
  margin-right: 29px;
  border: whitesmoke;
  border-radius: 60px;
  background-color: whitesmoke;
}
