.Operands {
  display: inline;
}

.Operands button {
  cursor: pointer;
  font-size: 25px;
  width: 60px;
  height: 60px;
  margin: 10px;
  border: whitesmoke;
  border-radius: 60px;
  background-color: whitesmoke;
}
